# https://hub.docker.com/r/linuxserver/calibre

[Unit]
Description="eBook library (GUI desktop application)"

[Container]
Image=lscr.io/linuxserver/calibre:8.16.2
ContainerName=calibre-gui
Pod=calibre.pod

{% if calibre_vaapi_render_node is defined %}
# Devices
AddDevice={{ calibre_vaapi_render_node }}
{% endif %}

# Environment variables
Environment=PUID={{ calibre_user_id }}
Environment=PGID={{ calibre_group_id }}
Environment=TZ={{ calibre_timezone }}
{% if calibre_password is defined %}
Environment=PASSWORD={{ calibre_password }}
{% endif %}
{% if calibre_vaapi_render_node is defined %}
Environment=DRI_NODE={{ calibre_vaapi_render_node }}
{% endif %}

# Volumes
Volume={{ calibre_config_dir }}:/config:z
Volume={{ calibre_upload_dir }}:/books:z

[Service]
TimeoutStartSec=900
