[Unit]
Description="Calibre eBook library with GUI and web interface"

[Pod]
PodName=calibre
PublishPort={{ calibre_gui_port }}:8181
PublishPort={{ calibre_web_port }}:8083

{% if calibre_web_reverse_proxy %}
Network=web-services.network
{% endif %}

[Service]
Restart=unless-stopped

[Install]
# Start by default on boot
WantedBy=default.target
