# Get your Zone ID by going to your domain home page in Cloudflare and scrolling down on the
# overview page
ZONE_ID={{ caddy_cloudflare_zone_id }}
CLOUDFLARE_EMAIL={{ caddy_cloudflare_email }}
CLOUDFLARE_API_KEY={{ caddy_cloudflare_api_key }}
