# Get your Zone ID by going to your domain home page in Cloudflare and scrolling
# down on the overview page
CLOUDFLARE_ZONE_ID={{ caddy_cloudflare_zone_id }}
CLOUDFLARE_API_TOKEN={{ caddy_cloudflare_api_token }}
